<h1><%=job.destignation%> at <%=job.company%> in <%=job.location%></h1>


<div class="d-flex">
  <%application.forEach((app)=>{%>
      <div class="card m-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%=app.userName%></h5>
            <p class="card-text"><%=app.userEmail%></p>
            <p class="card-text"><%=app.userContact%></p>
      
            <h6>Applied on:<%=app.AppliedOn%></h6>
            <% if(app.status == false){ %>
              <a class="btn btn-danger">Accept</a>
              <a class="btn btn-danger">Reject</a>
           <% }else{ %>
              <a class="btn btn-success">Accepted</a>
          <%} %>
          </div>
        </div> 
  <%})%>
</div>
