<% if(locals.lastVisit != null){%>
  <div class="alert alert-info m-3" role="alert">
      Last Visited <%=locals.lastVisit%>
  </div>
  <%}else{%>
    <div class="alert alert-success m-3" role="alert">
      No visit from last month
  </div>
  <%}%>
<%if(user != null) {%>
<h1>Welcome <%=user.name%></h1>
<%}%>
<div class="d-flex">
  <%jobs.forEach((job)=>{%>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=job.designation%> at <%=job.company%> in <%=job.location%></h5>
          <p class="card-text"><%=job.description%></p>
    
          <h6>Skills required</h6>
          <ul class="list-group">

            <%if(job.skills != null){job.skills.forEach((skill)=>{%>
                <li class="list-group-item m-1"><%=skill%></li>
            <%})}%>
          </ul>
          
          <h6>Apply by:<%=job.deadline%></h6>
          <h6>Salary:<%=job.salary%> </h6>
          <% if(user.postedJob == null){%>
            <a href="/applyJob/<%=user.id%>&<%=job.id%>" class="btn btn-primary">Apply <span class="badge text-bg-danger"><%=job.openings%> Left</span></a>
         <%}%>
        </div>
      </div>
<%})%>
</div>

